#pintitle {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-image: url("../images/background.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;
}

#pintitle .panel {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
}

#pintitle .panel.title h1 {
  font-size: 120px;
  color: #fff;
}

#pintitle .panel.content {
  max-width: 980px;
  margin: 0 auto;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

#pintitle .panel.content p {
  color: #fff;
  font-size: 40px;
}

#pintitle .blackscreen {
  width: 100%;
  height: 100%;
  background-color: #363636;
  position: absolute;
  opacity: 0.6;
  z-index: 1;
}

#pinmaster {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#pinmaster .panel {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 5;
}

#pinmaster .panel.bg1 {
  background-color: blueviolet;
}

#pinmaster .panel.bg2 {
  background-color: burlywood;
}

#pinmaster .panel.bg3 {
  background-color: crimson;
}

#pinmaster .imglist {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 10;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section3 {
  height: 3600px;
  width: 100%;
  overflow: hidden;
  background-color: #ccb8b8;
  position: relative;
}

.section3 .titlesvg {
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
}

.section3 .titlesvg.reveal {
  stroke-dashoffset: 0 !important;
}

.section3 svg {
  -webkit-transition: all 1s;
  transition: all 1s;
}

.section3 .salade {
  position: absolute;
  top: 100px;
  left: calc(50% + 20px);
}

.section3 .surlepouce {
  position: absolute;
  top: 720px;
  left: calc(50% - 335px);
}

.section3 .nosplats {
  position: absolute;
  top: 1125px;
  left: calc(50% + 30px);
}

.section3 .enviedesushi {
  position: absolute;
  top: 1725px;
  left: calc(50% + 60px);
}

.section3 .nosgourmandises {
  position: absolute;
  top: 2250px;
  left: calc(50% - 70px);
}

.section3 .cocktails {
  position: absolute;
  top: 2800px;
  left: calc(50% - 500px);
}

.section3 .teatime {
  position: absolute;
  top: 3210px;
  left: calc(50% - 90px);
}

.section3 #tracesvg {
  position: absolute;
  top: 200px;
  left: calc(50% - 600px);
}

.section4 {
  width: 100%;
  height: 50vh;
  background-color: #b8a58d;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}

.section4 .section-content {
  position: absolute;
  top: 50%;
  left: calc(50% - 500px);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
}

.section5 {
  width: 100%;
  height: 100vh;
  background-color: #b8a58d;
}
/*# sourceMappingURL=pagepin.css.map */